@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Ubuntu', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Unbounded', cursive;

  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.Dropdown-control {
  color: #fff;
  background-color: rgb(67, 61, 61);
  transition: all 250ms ease-in-out;
  border-radius: 10px;
  max-width: 90vw;
  padding: 6px;
  margin: 10px;
  /* font-family: 'Unbounded', cursive; */

}

label {
  font-size: 1.4rem;
}

input {
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  border: 2px solid #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
  
}

button {
  border: 2px solid #fff;
  margin: 3px;
  display: inline-block;
}

a {
  font-family: 'Unbounded', cursive;

  margin-left: 5px;
  color: green;
  transition: all 200ms ease
}

a:hover {
  color: #f25353
    /* color: #535bf2 */
}

footer {
  background-color: #191818;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 787px) {
  h1 {
    font-size: 1.3rem;
  }

  label {
    font-size: 1rem;
  }

  form {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

  }

  input {

    padding: 6px;
    /* margin-top:6px; */
    /* margin-bottom:6px; */
  }

  button {
    border: 2px solid #fff;
    /* margin: 3px; */
    /* display: inline-block; */
  }
}

.newShopClass {
  background-color: #ede3e3;
  color: #000;
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px;
  padding: 8px;
}